@{
    ViewBag.Title = "Contact";
}

<address>
    Mark Perreault<br />
    815-222-8898
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:markpero45@gmail.com">markpero45@gmail.com</a><br />
</address>